/* Import Pico CSS */
@import "@picocss/pico";

/* Custom styles */
#root {
  margin: 0 auto;
  padding: 0;
}

table thead th {
  text-align: center;
  max-width: 80px;
  padding: 0.5rem;
}

table tbody td {
  padding: 0.5rem;
}

input[type="radio"] {
  margin-right: 0;
}

input[type="checkbox"] {
  margin-left: 0.4rem;
  margin-right: 0rem;
}

button {
  padding: 0.25rem 0.75rem;
}